@import "./variables.scss";

.content_ {
  p {
    margin-bottom: 15px;
    line-height: 26px;
    font-size: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: blue;
    text-decoration: underline;
  }
}

.fs-custom {
  font-family: "Open Sans", sans-serif;
}

.ongs-image {
  width: 100px;
}

.image-preview {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

.main-background {
  background-image: url("./../images/grupo.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: calc(100vh - 100px);
  &:after {
    background: #2e3039d6;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header {
  z-index: 2;
}
